@width-box: 14em;
@height-box: 12em;

.collection {
  .element-item {
    a {
      width: @width-box;
      height: @height-box;
      float: left;
      text-align: center;
      color: @color-primary-0;
      text-decoration: none;
      border: 1px solid black;
      margin: 0.4em 0.4em;

      .name {
        padding: 0.2em 0.4em;
      }
      img {
        max-width: calc(@width-box - 1);
        max-height: calc(@height-box - 4);
      }

      &:hover {
        border-color: @color-primary-1;
        color: @color-primary-1;

      }
    }
  }
}